body{
    text-align: center;
    font-family: "Arial";
    color: darkgreen;
}
#container{
    width: 80%;
    padding: 1em;
    text-align: right;
    border: 1px solid goldenrod;
    margin: 0 auto;
}
#container h1{
    font-size: 60%;
}